*{
	margin: 0;
	padding: 0;
}

.demo{
	/*定位*/
	position: relative;/*absolute/relative*/
	top(/bottom): 100px;
	left(/right): 100px;
	width: 100px;
	height: 100px;
	background-color: red;
	opacity: 0.5;/*透明度*/
}

.box{
	width: 200px; 
	height: 200px;
	background-color: green;
}

.plat{
	position: relative;
	left: 50%;
	top: 50%;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5{
	position: fixed;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.circle1{
	border: 10px solid black;
	margin-left: -50px;
	margin-top: -50px;
}

.circle2{
	border: 10px solid blue;
	margin-left: -170px;
	margin-top: -50px;
}

.circle3{
	border: 10px solid red;
	margin-top: -50px;
	margin-left: 70px;
	z-index:3
}

.circle4{
	border: 10px solid yellow;
	margin-left: -110px;
}

.circle5{
	border: 10px solid green;
	margin-left: 10px;
}

.right{
	position: absolute;
	right: 0;
	width: 100px;
	height: 100px;
	background-color: #0ff;
	/*opacity: 0.5;*/
}

.left{
	margin-right: 100px;
	height: 100px;
	background-color: #0f0;
}

.wrapper{
	margin-left: 100px;
	margin-top: 100px;
	width: 100px;
	height: 100px;
	background-color: #0f0;
	/*position:absolute;*/
	/*display:inline-block;*/
	/*float:left/right;*/
	/*overflow:hidden;*/
}

.content{
	margin-left: 50px;
	margin-top: 50px;
	width: 50px;
	height: 50px;
	background-color: #0ff;
}

.box1{
	background-color: red;
	margin-right: 100px;
}

.box2{
	background-color: green;
	margin-left: 100px;
}

.demo1{
	background-color: red;
	margin-bottom: 100px;
}

.demo2{
	background-color: green;
	margin-top: 100px;
}
